

.headerEl {
    position: absolute;
    top: 40px;
    left: 60px;
}

.headerEl:hover {
    color: purple;
}

#time-remaining {
    position: absolute;
    top: 40px;
    right: 60px;
}

#main-container {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
}

main h1 {
    text-align: center;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: purple;
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.box {
    display: block;
    float: left;
    width: 31%;
    height: 200px;
    margin: 1%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 8px;
    background-color: #093145;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    color: whitesmoke;
  }

  #resultPrint {
    text-align: center;
  }

  /* (A) WRAPPER */
#quizWrap {
    max-width: 600px;
    margin: 0 auto;
    /* RECOMMENDED FIXED HEIGHT IF YOU HAVE CONTENT BELOW THE QUIZ */
    /* SO THAT PAGE LAYOUT DOES NOT "JUMP" */
    /* height: 250px; */
  }
  
  /* (B) QUESTION */
  #quizQn {
    padding: 20px;
    background: purple;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
  }
  
  /* (C) ANSWERS */
  #quizAns {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  #quizAns input[type=radio] { display: none; }
  #quizAns label {
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
  #quizAns label.correct {
    background: #d8ffc4;
    border: 1px solid #60a03f;
  }
  #quizAns label.wrong {
    background: #ffe8e8;
    border: 1px solid #c78181;
  }
  
  /* (D) BODY... DOES NOT QUITE MATTER */
  html, body {
    font-family: arial, sans-serif;
  }
  